
#container-inicio{
    border-radius: 15px;
    background: #fff;
    width: 30%;
    height: auto;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
    position: relative;
    top: 100%;
    display: flex;
}

.text{
    font-size: 15px;
}

a { 
    text-decoration: none;
}



.logo{
    width: 100%;
    height: 50%;
    position:absolute;
    left: 80% auto;
    top: -15%;
    transform: translate(-50%, -50%);
    display: flex;
}

#btn{
    background: linear-gradient( rgba(255, 224, 112, 0.785), rgba(255, 84, 84, 0.575));
    border-radius: 10%;
    border: #fff;

}



body{
    margin: 0;
    background: url(../images/fondo2.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    height: 30vh;


}

body:before{
    content: "";
    width: 100%;
    height: 130vh;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient( rgba(255, 224, 112, 0.785), rgba(255, 84, 84, 0.575));

    opacity: 1;
    z-index: -1;
}

@media screen and (max-width: 480px) { 

    .logo{
        width: 80%;
        top: -60px;
    }

    #container-inicio{
        width: 80%;
    }
 }
